/* General Styles */
.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 0 auto;
    padding-top: 100px;
}

/* Projects-title */
.projects-title{
    position: reletive;
}

/* Projects-title h1 */
.projects-title h1{
    padding: 0px, 30px;
    font-size: 40px;
    font-weight: 600px;
}

/* Projects-container */
.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Flexible columns */
    gap: 20px;
}

/* Projects-card */
.project-card {
    text-align: center;
    margin: 20px;
    position: relative;
    padding: 40px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 2px solid white;
    cursor: pointer;
    background: white;
}

/* Project-image */
.project-image {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    object-fit: cover; 
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

/* Project-card h3 */
.project-card h3 {
    color: black;
    text-align: left;
}

/* Project-card p */
.project-card p {
    font-size: 12px;
    color: #666;
    margin-top: 8px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

/* Project-links */
.project-links {
    position: absolute;
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

/* Github */
.Github {
    width: 40px;
    height: 24px;
    cursor: pointer;
    transition: transform 0.3s;
    border: 2px solid #666;
    transition: 0.4s;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3); 
}

/* Github:hover */
.Github:hover {
    transform: scale(1.1);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

/* Live-view */
.Live-view {
    width: 40px;
    height: 24px;
    cursor: pointer;
    transition: transform 0.3s;
    border: 2px solid #666;
    transition: 0.4s;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

/* Live-view:hover */
.Live-view:hover {
    transform: scale(1.1);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

/* projects-showmore */
.projects-showmore{
    display: flex;
    gap: 5px;
    border-radius: 50px;
    border: 2px solid white;
    padding: 15px 35px;
    font-size: 20px;
    font-weight: 500px;
    margin-bottom: 40px;
    transition: 0.6s;
    cursor: pointer;
    margin-top: -30px;
}

/* projects-showmore img */
.projects-showmore img{
    width: 40px;
    margin-top: -5px;
}

/* projects-showmore:hover */
.projects-showmore:hover{
    gap: 20px;
    transition: 0.6s;
    color: #B415FF; 
    background: #1d1d3b; 
    transform: scale(1.05); 
}

/* Responsive Styles */
@media screen and (max-width: 650px) {
    .projects {
        gap: 20px;
        margin: 20px 10px; 
        align-items: center; 
    }
    .projects-title h1 {
        padding-left: 10px;
        font-size: 24px; 
    }
    .projects-container {
        grid-template-columns: 1fr; 
        gap: 15px; 
    }
    .project-card {
        margin: 10px auto; 
        padding: 20px; 
    }
    .projects-showmore {
        padding: 10px 30px;
        font-size: 16px;
        margin: 10px auto;
        cursor: pointer;
    }
    .projects-showmore p {
        padding-top: 6px;
    }
}





